<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos/NatiPerfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="subtitulo">Full stack developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Natalia y estoy en el último año de Bioingeniería, de la Universidad Nacional de San Juan.
            Comencé hace unos años a interiorizarme en el mundo IT y lo disfruto bastante.</p>
            <p>Además estoy aprendiendo a crear páginas usando otras herramientas como Wordpress.</p>
            <p>Me gusta mucho hacer deporte y actualmente practico crossfit a diario.
               Amante de la naturaleza y dsifrutar del aire libre con mi familia y amigos. 
               También de leer libros y seguir incorporando conocimientos mediante cursos, etc.
            </p>
        </span>

    </div>

</div>
